html, body, p, h1, h2 {
  margin: 10px;
  padding: 10px;
  border: 1px solid red;
  font-family: Arial, Helvetica, sans-serif;
}

#navigation {
  background-color: blueviolet;
}

#navigation a {
  text-transform: uppercase;
}

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}

div {
  width: 400px;
  color: #000;
}

canvas {
  display: block;
}

/* Klassen -> im html class="mt-50" */
.mt-50 {
  margin-top: 50px;
}

/* pseudoklassen zb :visited oder :active */
a:visited {
  text-decoration: none;
  border-bottom: none;
  text-decoration-line: none;
}

a:hover {
  text-decoration: none;
  border-bottom: none;
  text-decoration-line: none;
  cursor: crosshair;
}